<style>
    .chat-icon{
        width:40px;
        height:40px;
        float:right;
    }
</style>

<% if(friend.user1._id!= user.id) {%>
<div id = "friend-<%= friend.user1._id %>" class = 'friend'>
    <div class = 'img'>
        <img src = "<%= friend.user1.avatar%>" class = 'user-avatar'>
    </div>
    <div class = 'info'>
        <div class = 'name'>
            <a href="/users/profile/<%= friend.user1._id%>"><%= friend.user1.name %></a>
            <a href="#" id ="chat-<%= friend.user1._id%>" class = 'chat-on'><img src="/images/messageicon.png" class="chat-icon" alt=""></a>
        </div>
    </div>
</div>
<%}else{%>

<div id = "friend-<%= friend.user2._id %>" class = 'friend'>
    <div class = 'img'>
        <img src = "<%= friend.user2.avatar%>" class = 'user-avatar'>
    </div>
    <div class = 'info'>
        <div class = 'name'>
            <a href="/users/profile/<%= friend.user2._id%>" ><%= friend.user2.name %></a>
            <a href="#" id ="chat-<%= friend.user2._id%>" class = 'chat-on'><img src="/images/messageicon.png" class="chat-icon" alt=""></a>
        </div>
    </div>
</div>
<%}%>

