

<li id="post-<%= post.id%>">
  <% if(locals.user) { %>
  <div class="post-menu-icon">
    <img src="https://img.icons8.com/color/30/000000/menu-2.png" />
  </div>

  <div class="post-menu-option">
    <% if(locals.user&&post.user.email == locals.user.email){ %>
    <a class="delete-post-button" href="/posts/distroy/<%= post._id %>">
      <small><button>Delete</button></small>
    </a>
    <%}else {%>
    <a class="delete-post-button" href="/posts/distroy/<%= post._id %>">
      <small>
        <button disabled>Delete</button>
      </small>
    </a>
    <%}%>
  </div>

  <div class="post-creater">
    <img src="<%= post.user.avatar%>" alt="" />
    <span><%= post.user.name %></span>
  </div>

  <div class="post-content">
    <%= post.content %> <%if(post.image){%>
    <div>
      <img src="<%= post.image%>" />
    </div>
    <%}else if(post.video){%>
    <div>
      <video src="<%= post.video%>" controls></video>
    </div>
    <%}%>
  </div>

  <div class="post-action">
    <div>
      <span>
        <a
          class="toggle-like-button"
          data-likes="<%= post.likes.length%>"
          href="/likes/toggle/?id=<%= post._id %>&&type=Post">
          <%= post.likes.length%>
          <% if(post.liked) {%>
             <i class="material-icons" style="font-size:70px;color:rgb(0, 162, 255); position: relative; top:10px;">thumb_up</i>
          <%}else{%>
             <i class="material-icons" style="font-size:70px;color:grey; position: relative; top:10px;">thumb_up</i>
            <%}%>
        </a>
      </span>
      <span>
        <small style="color: blue; font-size:38px;">
          <%= post.comments.length%>
          <i class="material-icons" style="font-size:70px;color:rgb(0, 162, 255);position: relative; top:18px;">chat</i>
        </small>
      </span>
    </div>
  </div>

  <div class="post-comments">
    <form action="/comments/create/" method="POST" id="post-<%= post._id %>-comments-form">
      <input type="text" name="content" placeholder="comment" class="comment" />
      <input type="hidden" name="post" value="<%= post._id%>" />
      <button type = 'submit'><i class='fab fa-telegram' style='font-size:75px;color:rgb(94, 84, 235)'></i></button>
    </form>

    <div id="post-comment-<%= post._id%>" class = "comments-container">
      <% for(comment of post.comments){%> <%-include('_comment')-%> <%}%>
    </div>
  </div>
  <% } %>
</li>

