

<div id = 'friend-request-list-container'>
    <% for(friend of user.request) {%>
        <div id = "friend-<%= friend._id %>" class = 'friend'>
            <div class = 'img'>
                <img src = "<%= friend.avatar%>">
            </div>
            <div class = 'info'>
                <div>
                    <a href="/users/profile/<%= friend._id%>" style="text-decoration: none; color: black; font-family:sans-serif; font-size:3rem;"><%= friend.name %></a>
                </div>
                <div><%= friend.info %></div>
                <div class = 'action-btn'>
                    <a href="/users/friend/request/accept" id = 'friend-request-<%= friend._id %>'>Accept</a>
                    <!-- <a href="#">Reject</a> -->
                </div>
            </div>
        </div>
    <%}%>
</div>
<!-- <div id = 'friend-list-container'>
<% for(friend of user.request) {%>
<div id = "friend-<%= friend._id %>" class = 'friend'>
    <div class = 'img'>
        <img src = "<%= friend.avatar%>" class = 'user-avatar'>
    </div>
    <div class = 'info'>
        <div>
            <a href="/users/profile/<%= friend._id%>" style="text-decoration: none; color: black; font-family:sans-serif; font-size:2rem;"><%= friend.name %></a>
        </div>
        <div><%= friend.info %></div>
        <div class = 'action-btn'>
            <a href="/users/friend/request/accept" id = 'friend-request-<%= friend._id %>'>Accept</a>
            <a href="#" class = 'chat-on'>Delete</a>
        </div>
    </div>
</div>
<%}%>
</div> -->