<html>
  <head>
    <%- include('bootstrap_link'); %>

    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/chatBox.css" />
    <link rel="stylesheet" href="/css/friends.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/chat_engine.js"></script>

    <style>
        .noty_theme__relax.noty_bar .noty_body{
            padding: 18px;
           font-size: 35px;
        }
    </style>

    <%- style %>
  </head>
  <body>
    <%- include('_header'); %> <%- body %> <%- script %>
    <script>
              <% if(flash.success&&flash.success.length>0) {%>
              new Noty({
                      theme:'relax',
                      type:'success',
                      text: '<%= flash.success %>',
                      layout: 'topRight',
                      timeout:1500
                     }).show();
              <% } %>

              <% if(flash.error&&flash.error.length>0) {%>
              new Noty({
                      theme:'relax',
                      type:'warning',
                      text: '<%= flash.error %>',
                      layout: 'topRight',
                    //   timeout:1500
                    }).show();
              <% } %>
    </script>
    <script src="/js/friendRequest.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/chatRoom.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
      integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
